doctype html
html
    head
        title edit
    body
        form(method = "post")
            input(type = "text" placeholder = "new title" name = "new_title")
            input(type = "text" placeholder = "new author" name = "new_author")
            input(type = "text" placeholder = "new discription" name = "new_discription")
            input(type = "submit" value = "Submit")